@import "../../../../base-styles";

<<<<<<< HEAD
.ChartWrapper-wrapper {
}

=======
>>>>>>> 43833c2510545533448b3592e9bdf129403948b3
.ChartWrapper-title {
  font-family: $font-heading;
  font-size: $font-size-lg;
  text-align: center;
}