/*
These are the global variables we use. Just an optimization to keep
us using standardized widths and colors. Reference base-styles.scss when
defining font-families, sizes, margins, padding or colors.
*/
@import "../../../base-styles";

.DonutChartPercentage {

  display: block;
  margin: auto;

  &-wrapper {
    height: 100%;
    width: 100%;
  }

  &-title {
    font-family: $font-heading;
    font-size: $font-size-lg;
    margin-left: auto;
    margin-right: auto;
  }

  &-theme {
    &__light {
      color: $color-font-dark;
      background-color: white;
    }

    &__dark {
      color: $color-font-light;
      background-color: $color-font-dark;
    }
  }

  &-track {
    fill: transparent;
    stroke: #DAE2E5;
  }

  &-indicator {
    fill: transparent;
    stroke: #0F0F0F;
  }
  
  &-text-label {
    font-size: $font-size-xsm;
    font-style: $font-heading;
  }
}