.donutchartpercentage-track {
  fill: transparent;
  stroke: #DAE2E5;
  stroke-width: 26;
}
.donutchartpercentage-indicator {
  fill: transparent;
  stroke: #0F0F0F;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
}

.donutchartpercentage {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.donutchartpercentage-text {
  fill: #607580;
}
.donutchartpercentage-text-val {
  font-size:22px;
}
.donutchartpercentage-text-percent {
  font-size:22px;
}

.donutchartpercentage-text-label {
  font-size:9px;
}